@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
  font-family: 'Lato'; }

.datepicker-pane {
  background: #3F4147;
  box-shadow: 0em 0.1875em 0.3125em #888888;
  display: inline-block;
  font-size: 15px; }
  .datepicker-pane table {
    margin: 0.625em 0.9375em 0em 0.9375em;
    width: 13.75em;
    height: 12.8125em;
    font-size: 15px; }
    .datepicker-pane table td {
      color: #E9E9E9;
      font-weight: 300;
      text-align: center; }

/*datepicker commons */
.datepicker-selected, .datepicker-date-cell.datepicker-date-selected {
  color: #FFFFFF;
  background-color: #00BD8A;
  border-radius: 0.8em; }

/* navigation panel */
.datepicker-nav-pane {
  background: #5A5B5F;
  color: #FFFFFF;
  font-weight: 100;
  position: relative;
  text-align: center;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em; }
  .datepicker-nav-pane .datepicker-nav-title {
    display: inline-block;
    cursor: pointer; }

.datepicker-nav-button {
  display: inline-block;
  width: 0.9375em;
  height: 1.6875em;
  position: absolute;
  top: 50%;
  margin-top: -0.875em;
  cursor: pointer; }
  .datepicker-nav-button.arrow-left {
    background: url("../images/left.png") no-repeat;
    left: 0.9375em; }
  .datepicker-nav-button.arrow-right {
    background: url("../images/right.png") no-repeat;
    right: 0.9375em; }

/* week days header */
.datepicker-weekheader-cell {
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  cursor: default; }

/* date elements */
.datepicker-date-cell {
  cursor: pointer;
  display: inline-block;
  line-height: 1.5em;
  width: 1.5625em; }
  .datepicker-date-cell.datepicker-today {
    text-decoration: underline; }
  .datepicker-date-cell.datepicker-weekend {
    font-style: italic; }
  .datepicker-date-cell.datepicker-timeframe-off {
    color: #6C7D71; }
  .datepicker-date-cell.datepicker-date-selected {
    border-radius: 0.8em; }

.datepicker-year-cell {
  display: inline-block;
  cursor: pointer;
  line-height: 1.8em;
  width: 3em;
  cursor: pointer; }

.datepicker-month-cell {
  display: inline-block;
  cursor: pointer;
  width: 2.1em;
  line-height: 1.8em; }

.datepicker-nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: #E9E9E9;
  padding-top: 0.1em;
  padding-bottom: 0.7em; }
  .datepicker-nav-bottom span {
    border-radius: 0.8em;
    background-color: #303236;
    width: 6em;
    line-height: 1.8em;
    text-align: center;
    cursor: pointer;
    margin: auto; }
