$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

$font-size: 15px;
$cell-font-color: #E9E9E9;
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  font-family: 'Lato';
}

.datepicker-pane {
  background: #3F4147;
  box-shadow: em(0px) em(3px) em(5px) #888888;
  display: inline-block;
  font-size: $font-size;
  table {
    margin: em(10px) em(15px) em(0px) em(15px);
    width: em(220px);
    height: em( 205px);
    font-size: $font-size;
    td {
      color: $cell-font-color;
      font-weight: 300;
      text-align: center;
    }
  }
}
/*datepicker commons */
.datepicker-selected{
  color: #FFFFFF;
  background-color: #00BD8A;//E8736F;
  border-radius: 0.8em;
}

/* navigation panel */
.datepicker-nav-pane{
  background: #5A5B5F;
  color: #FFFFFF;
  font-weight: 100;
  position: relative;
  text-align: center;
  padding-top: em(15px);
  padding-bottom: em(15px);

  .datepicker-nav-title{
    display: inline-block;
    cursor: pointer;
  }
}

.datepicker-nav-button{
  display: inline-block;
  width: em(15px);
  height: em(27px);
  position: absolute;
  top: 50%;
  margin-top: em(-14px);
  cursor: pointer;

  &.arrow-left{
    background: url( '../images/left.png' ) no-repeat;
    left: em(15px);
  }

  &.arrow-right{
    background: url( '../images/right.png' ) no-repeat;
    right: em(15px);
  }

}

/* week days header */
.datepicker-weekheader-cell{
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  cursor: default;
}

/* date elements */
.datepicker-date-cell{
  cursor: pointer;
  display: inline-block;
  line-height: em(24px);
  width: em(25px);

  &.datepicker-today{
    text-decoration:underline;
    //background-color: initial;
  }

  &.datepicker-weekend{
    font-style: italic;
  }

  &.datepicker-timeframe-off{
    color: #6C7D71;
  }
  &.datepicker-date-selected{
    @extend .datepicker-selected;
    border-radius: 0.8em;
  }
}

// datepicker year cell
.datepicker-year-cell{
  display: inline-block;
  cursor: pointer;
  line-height: 1.8em;
  width: 3em;
  cursor: pointer;
}

//datepicker month cell
.datepicker-month-cell{
  display: inline-block;
  cursor: pointer;
  width: 2.1em;
  line-height: 1.8em;
}

//bottom navigation
.datepicker-nav-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: $cell-font-color;
  padding-top: 0.1em;
  padding-bottom: 0.7em;

  span {
    border-radius: 0.8em;
    background-color: #303236;
    width: 6em;
    line-height: 1.8em;
    text-align: center;
    cursor: pointer;
    margin: auto;
  }
}
