$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}


$font-size: 14px;
$cell-font-color: #E9E9E9;
$cell-height: 1.6em;
$textbox-font-size: 16px;

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");


// DATEPICKER CSS
.datepicker-pane {
  background: #3F4147;
  box-shadow: em(0px) em(5px) em(5px) #888888;
  display: inline-block;
  font-size: $font-size;
  table {
    margin: em(10px) em(15px) em(0px) em(15px);
    width: em(210px);
    height: em( 195px);
    font-size: $font-size;
    td {
      color: $cell-font-color;
      font-weight: 300;
      text-align: center;
    }
  }
}


/* navigation panel */
.datepicker-nav-pane{
  background: #5A5B5F;
  color: #ADADAF;
  font-weight: 100;
  position: relative;
  text-align: center;
  padding-top: em(15px);
  padding-bottom: em(15px);

  .datepicker-nav-title{
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
  }
}

.datepicker-nav-button{
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 1.9em;

  &.arrow-left{
    left: 0.6em;
  }
  &.arrow-left:before{
    content: "\f104";

  }

  &.arrow-right{
    right: 0.6em;
  }

  &.arrow-right:before{
    content: "\f105";
  }

}

/* week days header */
.datepicker-weekheader-cell{
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  cursor: default;
  font-size: 0.8em;
}

/* datepicker cell elements */
.datepicker-cell{
  cursor: pointer;
  line-height: $cell-height;
}

// datepicker year cell,
// for customization purposes there is an aditional class for date cell
.datepicker-date-cell{
  @extend .datepicker-cell;

  &.datepicker-today{
    text-decoration:underline;
  }

  &.datepicker-weekend{
    font-style: italic;
  }

  &.datepicker-timeframe-off{
    color: #6C7D71;
  }
  &.datepicker-date-selected{
    @extend .datepicker-selected;
    border-radius: 0.8em;
  }
}

// datepicker year cell,
// for customization purposes there is an aditional class for year cell
.datepicker-year-cell{
  @extend .datepicker-cell;
}

//datepicker month cell
// for customization purposes there is an aditional class for month cell
.datepicker-month-cell{
  @extend .datepicker-cell;
}

//bottom navigation
.datepicker-nav-bottom{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  font-weight: 100;
  color: $cell-font-color;
  padding-top: 0.1em;
  padding-bottom: 0.7em;

  span {
    border-radius: 0.8em;
    background-color: #303236;
    width: 6em;
    line-height: 1.8em;
    text-align: center;
    cursor: pointer;
    margin: auto;
  }
}

/*datepicker commons */
.datepicker-selected{
  color: #FFFFFF;
  background-color: #00BD8A;//E8736F;
  border-radius: 0.8em;
}
